@import './_vars.scss';
@import '~element-ui/packages/theme-chalk/src/index';

.el-collapse-item {
  .el-collapse-item__header {
    padding: 0 20px;
    text-shadow: 2px 2px 1px $--color-1-shadow-2;

    &.focusing:focus:not(:hover) {
      color: $--color-text-primary;
    }

    .el-collapse-item__arrow {
      text-shadow: 2px 2px 1px $--color-1-shadow-2;
      transition: text-shadow 0.3s, transform 0.3s;
    }
  }

  &.is-active .el-collapse-item__header.is-active .el-collapse-item__arrow.is-active {
    text-shadow: 2px -2px 1px $--color-1-shadow-2;
  }

  .el-collapse-item__content {
    padding: 20px 30px;
  }
}

.el-collapse-item:last-of-type .el-collapse-item__header {
  border: 0;
}

.effects-list {
  .el-collapse-item {
    display: flex;
    flex-direction: column-reverse;

    &.is-active .el-collapse-item__header.is-active .el-collapse-item__arrow.is-active {
      text-shadow: -2px 2px 1px $--color-1-shadow-2;
      transform: rotate(-90deg);
    }
  }
}

.el-select {
  width: 100%;
}
